.main-header{
    background-color: rgb(72, 145, 102);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo img{
    max-width: 20%;
    height: auto;

}
.navbar ul{
    list-style: none;
    margin:5;
    padding: 5;
    display: flex;

}
.navbar ul li a {
    margin-right: 10px;
    color: rgb(249, 252, 251);
    text-decoration:double;
    font-family:cursive

}
.logo-name {
    font-family: cursive;
    align-items: center; /* Centra verticalmente los elementos */
}
.cerrarsesion-btn {
  background-color: #dc3545;
  color: #fff;
  padding: 5px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
  font-family:cursive
}

.cerrarsesion-btn:hover {
  background-color: #c82333;
}


