<div class="formulario-container">
  <h1 class="text-center"> Crear Clientes</h1>
 <form [formGroup]="clienteForm" (submit)="crearCliente()">
  <label for="Nombre">Nombre:</label>
  <input type="text" formControlName="nombre" placeholder="nombre" />

  <label for="direccion">Dirección:</label>
  <input
    type="text"
    formControlName="direccion"
    placeholder="direccion"
  />
  <label for="telefono">Telefono:</label>
  <input
    type="number"
    formControlName="telefono"
    placeholder="telefono"
    
  />

  <label for="email">Email:</label>
  <input
    type="email"
    formControlName="email"
    placeholder="email"
  />

  <label for="Nombre">Tipo de Documento:</label>
  <input
    type="text"
    formControlName="tipoDocumento"
    placeholder="tipo de documento"
  />
  <label for="numeroDocumento">Numero de Documento:</label>
  <input
    type="text"
    formControlName="numeroDocumento"
    placeholder=" Numero Documento"
  />
  
   <button type="submit" >Crear Cliente </button>
   
   <button type="submit" >
     <a  routerLink="./../clientes"> Cancelar</a> <!--invocar las rutas-->
   </button>

 </form>
</div>

 

