<h2 class="titulo">{{titulo}}</h2>
<span >{{edad}}</span>
<iframe width="560" height="315" src="https://www.youtube.com/embed/nkmbdTouBe0?si=xfadoOMtt4tZMJHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<!-- aca realizamos un if para ocultar el parrafo-->

@if (ocultar_parrafo) {
<p class="parrafo"> 
  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  Voluptatem non illo sint rerum repudiandae harum magni eum sapiente,
  quo distinctio dolores suscipit? Illum ab consequuntur,
  nihil iste sapiente provident ullam
</p>
}@else {
  <h4>no muetsra el parrafo</h4>
}
<h2> fin persona </h2>

<hr/>
<app-tabla 
  [usuarios] ="users"
  [tituloTabla] =" tituloTablas"
></app-tabla> 

<h3> este es el contador</h3>
<app-contador 
(incrementarValor)="recibirContador($event)">
</app-contador>
Este es el valor ={{contador}}