body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/assets/images/login2.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(169, 185, 178);
    margin-left: 600px;
  }
  .iniciarse{
    margin-left: 680px;
  }
 
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }