<body>
  <h2 class="texto">Estamos para reparar todo tipo de arreglos</h2>
  <h5 class="texto-texto">No los tires nosotros los reparamos y tu les das una segunda oportunidad</h5>
  <div class="section-title-nu">
        <h2> Nuestros Servicios: </h2>
        <div class="underline"></div>
      </div>
  <div class="card-container">
    <!--card-->
    <div class="card">
        <img src="./assets/images/tallercos.jpg" class="card-image" alt="">
        <div class="card-body">
          <h1 class="card-title">ARREGLOS</h1>
          <p class="card-info">Servicios ofrecidos:</p>
          <ul>
            <li>Pantalones</li>
            <li>Chaquetas</li>
            <li>Camisetas</li>
            <li>Bermudas</li>
            <li>Camisas</li>
            <li>Licras</li>
            <li>Tops</li>
            <li>Ropa interior</li>
            <li>Faldas</li>
            <li>Vestidos</li>
          </ul>
            


          <button class="card-btn" [routerLink]="['/'+ ROUTER_APP.SERVICIOS]" > servicios</button>
        </div>
        
    </div>
    <!--card-->
    <div class="card">
        <img src="./assets/images/confeccion.jpg" class="card-image" alt="">
        <div class="card-body">
          <h1 class="card-title">CONFECCION</h1>
          <p class= "card-info">Servicios ofrecidos: </p>
          <ul>
            
            <li>Uniformes Colegiales</li>
            <li>Uniformes antifluido</li>
            <li>Blusas</li>
            <li>Ropa deportiva personalisada</li>
          </ul>

          <button class="card-btn" [routerLink]="['/'+ ROUTER_APP.SERVICIOS]" > servicios</button>
        </div>
    </div>
    <!--card-->
    <div class="card">
        <img src="./assets/images/borda.jpg" class="card-image" alt="">
        <div class="card-body">
          <h1 class="card-title">BORDADOS</h1>
          <p class= "card-info">Servicios ofrecidos:</p>
          <ul>
            <li>Escudos Colegiales</li>
            <li>Logos personalizados</li>
            <li>Parches</li>
          </ul>
          <button class="card-btn" [routerLink]="['/'+ ROUTER_APP.SERVICIOS]" > servicios</button>
        </div>
    </div>


  </div>



  <!-- <button (click)="mostrarModal()" class="butonmodal">mostrarModal</button> -->
  <!--Quines Somos --------------------------------------------->
  <section class="team">
    <div class="container">

      <div class="section-title">
        <h2>Quiénes somos</h2>
        <div class="underline"></div>
        <p>En [FaseSport], nos enorgullecemos de ofrecer servicios de costura de alta calidad con un toque personal. Con años de experiencia en la industria, nuestro equipo de expertos artesanos está comprometido a brindarte las mejores soluciones para tus necesidades de costura. Desde arreglos simples hasta diseños personalizados, estamos aquí para hacer realidad tus ideas con precisión y dedicación.
        </p>
      </div>
      <!-- primero -->
      <div class="row">
        <div class="col-lg-5 mt-6">
          <div class="member d-flex align-items-start">
            <div class="tema">
              <img src="./assets/images/anaa.jpg" class="img-fluid" alt="team1">
            </div>

            <div class="member-info">
              <h4>Ana Gomez</h4>
              <span>Diseñadora de modas</span>
              <p>Plantea, Diseña, crea</p>
            
            <div class="social"> 
              <a href="#"> <i class="fa-brands fa-whatsapp"></i> </a>
              <a href="#"> <i class="fa-brands fa-facebook"></i> </a>

            </div>
          </div>
          </div>
        </div>

        <!--card 2-->
        <div class="col-lg-5 mt-6">
          <div class="member d-flex align-items-start">
            <div class="tema">
              <img src="./assets/images/martina.jpg" class="img-fluid" alt="team1">
            </div>

            <div class="member-info">
              <h4>Martina Gomez</h4>
              <span>Modista profesional</span>
              <p>Imagina, arregla</p>
            
            <div class="social"> 
              <a href="#"> <i class="fa-brands fa-whatsapp"></i> </a>
              <a href="#"> <i class="fa-brands fa-facebook"></i> </a>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contactanos------------------>

  <div class= "container-contac"> 
    <div class = "row">
      <div clas = "col-md-7">
        <h4 class="h4">Pongase en contacto</h4>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="name" class="form-control"  placeholder="name">
            
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">celular</label>
            <input type="celular" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            
          </div>
       
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <button class="btn btn-primary"> enviar</button>

      </div>
      <div class = "col-md-5">
        <h4 class="h4"> Nuestro contacto</h4>

        <div class = "mt-5">
          <div class = "d-flex">
            <i class="fa-solid fa-location-dot"></i>
            <p> Direccion: Diagonal 147 n 106,local 24 centro comercial portal hato</p>
          </div>

          <div class = "d-flex">
            <i class="fa-solid fa-phone"></i>
            <p> Telefono: 3232099703</p>
          </div>

          <div class="d-flex">
            <i class="far fa-envelope"></i>
           <p>Email: anajesu24&#64;gmail.com</p>
          </div>


          <div class = "d-flex">
            <i class="fa-brands fa-chrome"></i>
            <p> Web: www.faseSport.com/</p>
          </div>


        </div>

      </div>

    </div>
  </div>



</body>